.puv-node-card-meta {
  display: flex;
  flex: 2;
}

.puv-node-card-meta__file-info {
  font-weight: bold;
  display: inline;
}

.puv-node-card-meta__tool-display {
  font-weight: bold;
  flex: 0.75;
}

.puv-node-card-meta__file-link,
.puv-node-card-meta__file-link:hover,
.puv-node-card-meta__file-link:focus {
  font-weight: normal;
  display: flex;
}

.puv-node-card-meta__tool-display__tool-display {
  font-weight: bold;
}

.puv-node-card-meta__file-icon {
  &.nx-icon {
    margin-left: 0;
  }
  color: black;
}
