.lift-result-filter {
  &__search-box {
    width: 100%;
  }

  &__filter-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 235px;
    margin-bottom: -6px;
    margin-right: 1rem;
  }

  &__occurrence-count {
    &.nx-counter {
      min-width: 35px;
      margin: auto;
    }
  }

  &__occurrence-filter {
    &.nx-checkbox {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.lift-result-filter__occurrence-wrapper {
  display: flex;
}
