$lift-analysis-results-filter-section-min-width: 492px;
$lift-analysis-results-column-open-width: 366px;
$lift-analysis-results-search-box-row-min-width: 300px;
$lift-analysis-results-search-box-column-min-width: $lift-analysis-results-filter-section-min-width;
