.puv-results-title-container {
  display: flex;
  margin: 24px 0 24px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.puv-results-title {
  display: inline-flex;
  align-items: center;
}

.puv-results-details {
  display: flex;
}
