.lift-result-tab_no_issues-logo {
  height: 20px;
  padding-right: 10px;
  position: relative;
  padding-left: 15px;
  top: 5px;
}

.lift-result-tab__no-issues-message-card {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 6px;
}

.lift-result-tab__no-button {
  font-size: small;
}
